.ipynb_checkpoints
13-recurrent_neural_network/tech_with_tim/training_checkpoints/ckpt_1.data-00000-of-00001
13-recurrent_neural_network/tech_with_tim/training_checkpoints/ckpt_2.data-00000-of-00001



